<div class="logout-button">
<p><a href="/logout">LOG OUT</a></p>
</div>

<h1>Create a New Kid Profile</h1>
<br/> 
<form method="POST" action="/kids">
  <label>Name:</label>
  <input type="text" id="name" name="name">
  <br/> <br/>
  <label>Nickname:</label>
  <input type="text" id="nickname" name="nickname">
  <br/> <br/>
  <label>Gender:</label>
  <select id="gender" name="gender">
  <option value="Male">Male</option>
  <option value="Female">Female</option>
  </select>
  <br/> <br/>
  <label>Birthdate:</label>
  <input type="date" id="birthdate" name="birthdate">
  <br/>
  <br/>
  <input id="create" type="submit" value="Create">
  <br/>
</form>
    <br>
    <br>
    <br>
  <form action="/kids">
    <input type="submit" value="Back to All Kids">
  </form>
  <br>
  <form action="/homepage">
    <input type="submit" value="Back to Kid Central Homepage">
  </form>