<h1>Create a New Kid Profile</h1>
<br/> 
<form method="POST" action="/kids">
  <label>Name:</label>
  <input type="text" id="name" name="name">
  <br/> <br/>
  <label>Nickname:</label>
  <input type="text" id="nickname" name="nickname">
  <br/> <br/>
  <label>Gender:</label>
  <input type="text" id="gender" name="gender">
  <br/> <br/>
  <label>Birthdate:</label>
  <input type="date" id="birthdate" name="birthdate">
  <br/>
  <br/>
  <input id="create" type="submit" value="create">
  <br/>
</form>