<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
<p><a href="/logout">LOG OUT</a></p>

  <p><h1><%= @user.family_name%> Family Events:</h1></p>
  <% @events.each do |event| %>
  <ol>
    <li><a href="/events/<%=event.id%>"><%=event.name%> -- <%=event.date%></a></li>
    <% end %>
    <br>
    <br>
      <form action="/events/new">
        <input type="submit" value="Add an Event">
      </form>
    <br>
      <form action="/homepage">
         <input type="submit" value="Back to Kid Central Homepage">
      </form>
<br>
<br>
<br>
</body>
</html>