<h1>Save a New Event</h1>
<br/> 
<form method="POST" action="/events">
  <label>Name:</label>
  <input type="text" id="name" name="name">
  <br/> <br/>
  <label>Date:</label>
  <input type="date" id="date" name="date">
  <br/> <br/>
  <label>Time:</label>
  <input type="time" id="time" name="time">
  <br/> <br/>
  <label>Location:</label>
  <input type="text" id="location" name="location">
  <br/> <br/>
  <label>RSVP:</label>
  <select id="rsvp" name="rsvp">
  <option value="Yes">Yes</option>
  <option value="No">No</option>
  </select>
  <br/> <br/>
  <label>Gift:</label>
  <select id="gift" name="gift">
  <option value="Yes">Yes</option>
  <option value="No">No</option>
  </select>
  <br/> <br/>
  <label for="note">Note:</label>
  <textarea id="note" name="note"></textarea>
  <br/> 
  <br/>
  <br/>
  <input id="create" type="submit" value="Save">
  <br/>
</form>
  <br/> 
  <br/>
  <br>
  <form action="/events">
    <input type="submit" value="Back to All Events">
  </form>
  <br>
  <form action="/homepage">
    <input type="submit" value="Back to Kid Central Homepage">
  </form>