<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Kid Central</title>
</head>
<body>
  <div class="container">
  <header><img src="images/kid-central.jpg" class="logo-image"></header>
  <div class="col-md-8 col-md-offset-2">
  <h2>Welcome to Kid Central!</h2>

  <div class="content">
    <p>Welcome to the Sinatra Template! If you're seeing this page, then everything is working
    as expected. To get started, delete this file (<code>app/views/welcome.erb)</code> and begin adding
    your own actions to <code>application_controller.rb</code>. For more information, see the <a href="https://github.com/thebrianemory/corneal">README</a>.</p>
  </div>

  <div class="sidebar">
  <h3>Login</h3>
      <form method="POST" action='/login'>
        <label for="email">Email:</label>
        <input type=text name="email">
        <br><br>
        <label for="password">Password:</label>
        <input type=password name="password">
        <br><br>
        <input type="submit" name="submit">
      <br><br>
      
      <p><a style="text-decoration: none" href="/signup">Click Here to Sign Up</a></p>
      </form>
  </div>

  </div>
  </div>

</body>
</html>

